@page
@model SettingsEditorModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["Settings"];
}

<form method="post">
    <div class="form-group">
        <label for="exampleFormControlTextarea1">@Localizer["Settings"]</label>
        <textarea asp-for="JsonSettings" class="form-control" id="exampleFormControlTextarea1" rows="25"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">@Html.Encode(Localizer["Save"].Value)</button>
</form>